<div>
    <h2>
        <span jhiTranslate="reviewmanager4App.link.home.title">Links</span>
        <button class="btn btn-primary float-right create-link-my-suffix" [routerLink]="['/', { outlets: { popup: ['link-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="reviewmanager4App.link.home.createLabel">
            Create new Link
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="links">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reviewmanager4App.link.url">Url</span></th>
            <th><span jhiTranslate="reviewmanager4App.link.type">Type</span></th>
            <th><span jhiTranslate="reviewmanager4App.link.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let link of links ;trackBy: trackId">
                <td><a [routerLink]="['../link-my-suffix', link.id ]">{{link.id}}</a></td>
                <td>{{link.url}}</td>
                <td jhiTranslate="{{'reviewmanager4App.SocialLinks.' + link.type}}">{{link.type}}</td>
                <td>
                    {{link.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../link-my-suffix', link.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'link-my-suffix/'+ link.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'link-my-suffix/'+ link.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
