
<div *ngIf="link">
    <h2><span jhiTranslate="reviewmanager4App.link.detail.title">Link</span> {{link.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">

        <dt><span jhiTranslate="reviewmanager4App.link.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'reviewmanager4App.SocialLinks.' + link.type}}">{{link.type}}</span>
        </dd>
        <dt><span jhiTranslate="reviewmanager4App.link.url">Url</span></dt>
        <dd>
            <span>{{link.url}}</span>
        </dd>
        <dt><span jhiTranslate="reviewmanager4App.link.user">User</span></dt>
        <dd>
            {{link.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'link-my-suffix/'+ link.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
