/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    /*background: url("../../../content/images/logo-jhipster.png") no-repeat center center;*/
    background-size: contain;
    width: 100%;
}


/*Fixed Nav Bar*/



.navbar-default {

border-color: transparent;

padding:10px 0 0 0;
 

   
    border-radius: 0;
    color: #fff;
    letter-spacing: 1px;
    background-color:transparent;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
 float: right;
    margin: auto;   
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}

.navbar-default .container-fluid {
    padding-right: 40px;

}

.navbar-default .navbar-header .navbar-brand {

  color: rgba(255,255,255,.7);
    padding:0px 0 0 50px;
    margin-bottom : 10px


}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  
  color: #fff;
   height: 25px;
    line-height: 25px;


    letter-spacing: 2px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

  .navbar-default.affix {
        
    border-color: rgba(34,34,34,.05);
    background-color: rgba(0, 0, 0, 0.95);
    background-color: rgba(179,85,34,.9);
background-color: rgba(133, 40, 0, 1);
background-color: #a13000;
    background-color: rgba(179,85,34,1);
background-color: #fff;
background-color: rgba(179,85,34,1);
background-color: rgba(39,98,166,1);
background-color: #c2d4d8;
background-color: #f6f1ed;


    }

@media(min-width:768px) {
    .navbar-default {

padding:20px 0 0 0;
 

   
    border-radius: 0;
    color: #fff;
    letter-spacing: 1px;
    background-color:transparent;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
 float: right;
    margin: auto;   
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    }


.navbar-default .container-fluid {
    padding-right: 10%;
    padding-top: 2px;

}

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    padding:0px 0 0 50px;
    margin-bottom : 10px

 
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);



    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
color: rgba(39,98,166,1);
    }

/*Fixed Nav Bar after */
    .navbar-default.affix {
        
    border-color: rgba(34,34,34,.05);
    background-color: rgba(0, 0, 0, 0.95);
    background-color: rgba(179,85,34,.9);
background-color: rgba(133, 40, 0, 1);
background-color: #a13000;
    background-color: rgba(179,85,34,1);
background-color: #fff;
background-color: rgba(179,85,34,1);
background-color: rgba(39,98,166,1);
background-color: #f0e9ec;
background-color: #f6f1ed;


    padding:0 0;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
  

    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: rgba(39,98,166,1);
-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
      color: rgba(250,250,250,.9);
color: rgba(39,98,166,0.8)
    }
}




